*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: '微软雅黑';
	border: none;
	outline:none;
}

body{
	width: 100%;
	background: #F2F2F2;
}

.top{
	width: 100%;
	height: 90%;
	background: #FFFFFF;
}

.test{
	width: 100%;
	height: 10%;
	margin-top: 2px;
	background: #2B2B2B;
	position: table;
}

.test .test_block{
	width: 25%;
	height: 100%;
	line-height: 100%;
	float: left;
	font-size: 16px;
	cursor: pointer;
}

.test .test_block img{
	width: 45px;
	height: 45px;
	float: top;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}

.test .test_block a{
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #DADADA;
	display: block;
	text-align: center;
	font-size: 15px;
}