*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: '微软雅黑';
	border: none;
	outline:none;
}

body{
	width: 100%;
	background: #FFFFFF;
}

.top{
	width: 100%;
	height: 92%;
	background: #FFFFFF;
}

.test{
	width: 100%;
	height: 8%;
	margin-top: 2px;
	background: #2B2B2B;
	position: table;
}

.test .test_block{
	width: 25%;
	height: 100%;
	line-height: 100%;
	float: left;
	font-size: 16px;
	cursor: pointer;
}

.test .test_block span{
	width: 100%;
	height: 100%;
	color: #DADADA;
	display: block;
	text-align: center;
}

.test .test_block span:hover{
	width: 100%;
	height: 100%;
	color: #ff0000;
	display: block;
	text-align: center;
}
