<!DOCTYPE html>
<html>
<head>
	<meta charset=utf8>
	<title>拾石而砌 首页</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css?2015_4_12_8">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.js"></script>
</head>
<body>
	<div class="top">
		
	</div>
	<div class="test">
		<div class="test_block">
			<span class="test_block_nav" hidefocus="true">生日</span>
		</div>
		<div class="test_block">
			<span class="test_block_nav" hidefocus="true">短信祝福</span>
		</div>
		<div class="test_block">
			<span class="test_block_nav" hidefocus="true">个人中心</span>
		</div>
		<div class="test_block">
			<span class="test_block_nav" hidefocus="true">更多</span>
		</div>
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
</html>